{% extends 'base.html' %}
{% load spotify_filters %}
{% block content %}
<div class="profile">
    <h2>{{ user.username }}'s Profile</h2>
    <p>Email: {{ user.email }}</p>
    <!-- Add more profile information here as needed -->

    <h3>Reviews</h3>
    <ul>
        {% for review in reviews %}
            <li> 
                
            {% with spotify_data=review.song_id|fetch_song_data_from_spotify %}
                <div class="song-details">
                    <img src="{{ spotify_data.album_cover_url }}" alt="{{ spotify_data.title }} Album Cover">
                    <p><strong>Song:</strong> {{ spotify_data.title }}</p>
                    <p><strong>Artist:</strong> {{ spotify_data.artist }}</p>
                    <!-- Add more song details as needed -->
                </div>
            {% endwith %}
                <p><strong>Review:</strong> {{ review.review_text }}</p>
                <p><strong>Created At:</strong> {{ review.created_at }}</p>
                
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
